@page "/Articles"
@page "/Articles/Index"


<h3>@(Pager.PageIndex + 1) 페이지</h3>

<div>
    <a href="/Articles/Create" class="btn btn-primary">Create</a>
</div>

@if (_articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in _articles)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.Created</td>
                    <td>
                        <a href="/Articles/Details/@article.Id" class="btn btn-light">Details</a>
                        <a href="/Articles/Edit/@article.Id" class="btn btn-light">Edit</a>
                        <input type="button" value="Delete" class="btn btn-danger"
                               @onclick="() => btnDelete_Click(article)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<ArticleApp.Pages.Articles.Components.ArticlePager Pager="Pager" />
<Delete Model="_deleteModel" OnChanged="Setting"></Delete>

@implements IDisposable
@code {

    [Inject]
    public ArticleAppDbContext DbContext { get; set; }

    public Pagination Pager { get; } = new()
    {
        PageSize = 5,
        ButtonSize = 3,
    };

    private Article _deleteModel = new();

    private List<Article> _articles;

    protected async Task Setting()
    {
        Pager.DataCount = await DbContext.Articles.CountAsync();
        var skip = Pager.PageSize * Pager.PageIndex;
        _articles = await DbContext.Articles.OrderByDescending(t => t.Created)
            .Skip(skip).Take(Pager.PageSize).ToListAsync();
        StateHasChanged();
        _deleteModel = new();
    }

    protected override async Task OnInitializedAsync()
    {
        Pager.OnChanged += Setting;
        await Setting();
    }

    protected void btnDelete_Click(Article model)
    {
        _deleteModel = model;
    }

    public void Dispose()
    {
        Pager.OnChanged -= Setting;
    }
}
